@import './mixins.scss';
@import '../../Components/Nav/Nav.scss',
'../../Components/Upcoming/Upcoming.scss',
'../../Components/About/About.scss',
'../../Components/Location/Location.scss',
'../../Components/Footer/Footer.scss',
'../../Components/Send_form/Send_form.scss',
'../../Components/Construction/Construction.scss',
'../../Components/Company/Company.scss',
'../../Components/Blocks_location/Blocks_location.scss',
'../../Components/Block_average/Block_average.scss',
'../../Components/Houses_plan/Houses_plan.scss';
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;

}
@media (min-width: 1000px) and (max-width: 1600px) {
  body {
    transform: scale(0.8); /* 80% ga kichraytirish */
    transform-origin: top left;
    width: 125%;
    height: 100vh; /* Butun ekran balandligini qamrab oladi */
    overflow-x: hidden;
    background-color: white;
  }
}
.container{
    width: 90%;
    margin-left: 5%;
}

.container2 {
    width: 100%;

    @include media (1200px) {
        width: 90%;
        margin-left: 5%;
    }
}